.navbar a{
    text-decoration:none;
    color: #D0DAE2;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    display: inline-block;
    border: ridge 3px #B3C9DA;
    background-color:#1E435F;

}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow:hidden;
    display:flex;
    flex-direction: row;
    justify-content: row;
    background-color:#1E435F;
}

.navbar a:hover{
    color: #133C5C;
    background-color:#B3C9DA;
    font-weight: bold;
    border-color:#133C5C;
}

.navbar #current{
    color: #133C5C;
    background-color:#B3C9DA;
    font-weight: bold;
    border-color:#133C5C;
}
