*{
    box-sizing:border-box;
}

body{
    margin: 0px;
    background-color: #e2e9edf6;
}

.header h1{
    text-align: center;
    color: #B3C9DA;
    font-size: 5em;
    
    opacity: 0%;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;

    overflow:hidden;
}

.header-content{
    background-color: #597B98;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    
    opacity: 0%;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.header #img1{
    max-height: 90px;
    float: right;
    margin: 10px;
    margin-left: 1610px;
    position: fixed;

    opacity: 0%;
    animation-name: roll;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.navbar a{
    text-decoration:none;
    color: #D0DAE2;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    display: inline-block;
    border: ridge 3px #B3C9DA;
    background-color:#1E435F;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow:hidden;
    display:flex;
    flex-direction: row;
    justify-content: row;
    background-color:#1E435F;
}

.navbar a:hover{
    color: #133C5C;
    background-color:#B3C9DA;
    font-weight: bold;
    border-color:#133C5C;
}

.navbar #current{
    color: #133C5C;
    background-color:#B3C9DA;
    font-weight: bold;
    border-color:#133C5C;

    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

.navbar #main{
    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

.navbar #about{
    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.navbar #net{
    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

.navbar #topic{
    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.navbar #contact{
    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

/*/////////////////*/
.dropdown{
    display: inline-block;
}

.dropdown button{
    background-color:aliceblue;
    padding: 10px 15px;
    margin: 20px;
    border: none;
    cursor: pointer;
}

.dropdown a{
    display:block;
    color:aliceblue;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #fff0f0;
}

.dropdown .content{
    background-color: #7f7d7d;
    position: absolute;
    box-shadow: 3px 3px 6px #3b3838;
    display: none;
}

.dropdown:hover .content{
    display: block;
}

.dropdown a:hover{
    font-weight:bold;
    font-size: 1.5em;
}

.dropdown:hover button{
    background-color:rgb(229, 116, 46);
    font-size: 1.5em;
    font-weight:bold;
}

/*/////////////////*/

.footer{
    clear: both;
    display: block;
    background-color: #597B98;
    color:#D0DAE2;
    text-align: center;
    padding:10px 15px;

    opacity: 0%;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.footer a{
    color:#D0DAE2;
    text-decoration:none;
}

.footer a:hover{
    color:#1E435F;
    font-weight:bolder;
}

/*/////////////////*/

@keyframes fadeIn{
    to {opacity: 100%}
    50% {transform: scale(1.2, 1.2)}
}

@keyframes roll{
    to {opacity: 100%}
    from {transform: translateX(100%) rotateZ(360deg)}
}

@keyframes ripple{
    to {opacity: 100%}
    50% {transform: translate(14px, 16px)}
}

/* 
Paleta:

#597B98; medium blue
#B3C9DA; light blue
#D0DAE2; basically white
#1E435F; darker blue
#133C5C; darkest blue

*/

/*drop menu so that when you hover it highlights the aragraph??
more specific animations (sadge)*/