.navbar #current{
    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

.dropdown a{
    display:block;
    text-align: center;
    text-decoration: none;
    padding: 12px 18px;
}

.dropdown .content{
    position: absolute;
    display: none;
    z-index:3;
}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover a{
    font-weight:bold;
    border-bottom: none;
}

.dropdown #current1{
    background-color:#B3C9DA;
    color:#133C5C;
}

/*/////////////////*/

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-content{
    margin: 20px;
    padding: 50px;
    padding-top: 10px;

    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 65%;
    background-color: #c0daee;
    border-left:#42688a dashed 8px;
    border-top:#42688a dashed 8px;
}

.main-content p{
    font-size: 1.5em;
    color:#133C5C;
}

.main-content h3{
    font-size: 2em;
    color:#133C5C;
}

.main img{
    margin: 20px;
    display: block;
    width: 30%;
    float:right;
}