.navbar #current{
    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

/*/////////////////*/

main{
    color: #1E435F;
    font-size: 1.3em;
}

.main-content{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 800px;
    background-color: #B3C9DA;
    border-right:#597B98 dashed 8px;
    border-left:#597B98 dashed 8px;
    border-top:#133C5C solid 4px;
    border-bottom:#133C5C solid 4px;
}

.main-content section {
    width: 60%;
    display:block;
    background-color: #d8e5ef;
    border-top:solid 1.5px #133C5C;
    border-left:solid 1.5px #133C5C;
    box-shadow: 8px 8px 0px #133C5C;
    padding: 30px;
    margin-top: -10px;
    text-align: center;
}

.main-content section{
    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}