.navbar #current{
    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

.dropdown a{
    display:block;
    text-align: center;
    text-decoration: none;
    padding: 12px 18px;
}

.dropdown .content{
    position: absolute;
    display: none;
    z-index:3;
}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover a{
    font-weight:bold;
    border-bottom: none;
}

.dropdown #current1{
    background-color:#B3C9DA;
    color:#133C5C;
}

/*/////////////////*/

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-header{
    display:block;
    height: 80px;
    text-align: center;
    padding: 5px;
    color:#1E435F;
    background-color:#B3C9DA;
}

.main-content{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 60%;
    background-color: #D0DAE2;
}

.main-content p{
    margin: 50px;
    font-size: 1.5em;
    color:#1E435F;
    justify-content: center;
}

.main-content h3{
    margin-left: 50px;
    font-size: 2em;
    color:#1E435F;
}

.main img{
    margin: 20px;
    display: block;
    width: 30%;
    float:right;
}


.subGroup{
    font-size: 1.3em;
    margin: 50px;
    background-color: #B3C9DA;
    border: solid 5px #133C5C;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 2em;
    row-gap: 4em;
    padding: 50px;
}

.subject{
    width: 30%;
    border: 5px solid #597B98;
    background-color: #B3C9DA;
    margin-left: 20px;
    padding: 20px;
}

.subject .desc{
    color:#1E435F;
}

.desc h3{
    text-align: center;
}

.credits{
    float: right;
    color:#1E435F;
    font-weight: bold;
}

.teacher{
    float: left;
    color:#1E435F;
    font-weight: bold;
}

.mid-header{
    display:block;
    height: 80px;
    width: 100%;
    text-align: center;
    padding: 5px;
    color:#1E435F;
    background-color:#B3C9DA;
}

.desc a{
    text-decoration: none;
    color:#1E435F;
}

.desc a:hover{
    text-decoration: underline;
    color:#1E435F;
}
.subject:hover{
    border: 5px solid #D0DAE2;
}

/*/////////////////*/

.footer{
    clear: both;
    display: block;
    background-color: #597B98;
    color:#D0DAE2;
    text-align: center;
    padding:10px 15px;

    opacity: 0%;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.footer a{
    color:#D0DAE2;
    text-decoration:none;
}

.footer a:hover{
    color:#1E435F;
    font-weight:bolder;
}