.navbar #current{
    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

/*/////////////////*/

main{
    padding: 50px;
    color: #1E435F;
    font-size: 1.1em;
}

.IMG {
    height: 230px;
    display: flex;
    float: right;
    padding: 10px;
    margin-right: 70px;
    padding-bottom: 50px;
}

.IMG img{
    border-radius: 20%;

    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

.main-content .intro{
    height: 400px;
    width: 100%;
    background-color:#597B98;
    border-top: dashed 10px #D0DAE2;
    border-right: dashed 10px #B3C9DA;
    border-left: dashed 10px #B3C9DA;
    display:block;
    padding: 100px;
    padding-top: 50px;
}

.intro p{
    display: inline-block;
    width: 70%;
    margin:20px;
    background-color: #d8e5ef;
    border-top:solid 1.5px #133C5C;
    border-left:solid 1.5px #133C5C;
    box-shadow: 8px 8px 0px #133C5C;

    padding: 20px;
    font-size: 1.2em;

    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

.intro h1{
    margin: 20px;
    background-color: #e2e9edf6;

    display:inline-block;
    border-bottom:solid 1.5px #133C5C;
    border-right:solid 1.5px #133C5C;
    border-top:solid 1.5px #eff6fa;
    border-left:solid 1.5px #eff6fa;
    padding: 8px 15px;

    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.main-content .content-main{
    width: 100%;
    background-color:#B3C9DA;
    display:block;
    float:right;
    margin-bottom: 20px;
    padding: 100px;
    padding-top: 50px;

    border-top: dashed 10px #D0DAE2;
    border-bottom: dashed 10px #597B98;
    border-right: dashed 10px #445e74;
    border-left: dashed 10px #445e74;
}

.content-main p{
    display: block;
    margin: 30px;
    background-color: #d8e5ef;
    border-top:solid 1.5px #133C5C;
    border-left:solid 1.5px #133C5C;
    box-shadow: 8px 8px 0px #133C5C;

    padding: 15px 20px;
    font-size: 1.2em;
    float:right;
}

.content-main #img2{ 
    float: right;
    height: 500px;
    width: 580px;
    margin: 20px;
    padding-top: 100px;

    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.content-main #img4{ 
    float: left;
    height: 450px;
    margin: 50px;

    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
}

.content #userdata{
    display: block;
    width: 50%;
    float: left;

    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.content #consent{
    display: block;
    width: 95%;

    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}

.content #jobs{
    display: block;
    width: 50%;
    float: right;

    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
}

.content #conclusion{
    display: block;
    width: 95%;

    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.biblio{
    height: 2000px;
    background-color: #D0DAE2;
    border:solid 1.5px #133C5C;
}

.biblio p{
    display: block;
    margin:20px;
    background-color: #d8e5ef;
    border-bottom:solid 1.5px #133C5C;
    border-right:solid 1.5px #133C5C;
    border-top:solid 1.5px #eff6fa;
    border-left:solid 1.5px #eff6fa;
    box-shadow: none;
    padding: 8px 15px;

    padding: 20px;
    font-size: 1em;
    float: left;

    opacity: 0%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}

.biblio a{
    text-decoration: none;
    color:#133C5C;
}

.biblio a:hover{
    font-weight: bold;
}